.about {
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #cecece;
  margin-bottom: 1.2rem;
}

.about-wrapper {
  display: flex;
}

.about-wrapper .card {
  margin: 0 1rem;
  padding: 1rem;
  background-color: #15317e;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(66, 65, 65, 0.5);
  width: 350px;
}

.card-skill {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.skill {
  width: 90px;
  height: 90px;
  margin: 1.5px;
  border-radius: 5px;
}

.js-icon {
  color: #f7df1e;
}

.react-icon {
  color: #61dafb;
}

.nodejs-icon {
  color: #68a063;
}

.nextjs-icon {
  color: #928888;
}

.tailwind-icon {
  color: #06b6d4;
}

.mongodb-icon {
  color: #4db33d;
}

.typescript-icon {
  color: #007acc;
}

.express-icon {
  color: #000000;
}

.github-icon {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .about-wrapper {
    display: flex;
    flex-direction: column;
  }

  .about-wrapper .card {
    margin: 1rem 0;
    width: 100%;
    width: 500px;
  }

  .about-wrapper .card-skills {
    margin-top: 3rem;
  }

  .card {
    width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .about {
    padding-top: 100px;
  }

  .about-wrapper {
    display: flex;
    flex-direction: column;
  }

  .about-wrapper .card {
    margin: 1rem 0;
    width: 100%;
    width: 400px;
  }

  .about-wrapper .card-skills {
    margin-top: 3rem;
  }
}
