.contact {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.contact p {
  width: 55%;
  padding: 3px;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.contact a {
  font-size: 1.2rem;
  text-decoration: none;
  margin-bottom: 1.2rem;
}

.contact a:hover {
  color: #f7df1e;
}

.contact .socials {
  display: flex;
  justify-content: space-between;
  width: 10%;
  margin: 1.5rem 2.5rem 1.5rem 0;
}

.contact .socials a {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.contact .btn {
  padding: 0.5rem 1rem;
  margin-bottom: 1.2rem;
}

.contact .btn:hover {
  background-color: #f7df1e;
  color: #0c0230;
  transition: all 0.3s ease-in-out;
}

.copyright {
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 500px) {
  .contact p {
    width: 80%;
  }

  .contact .socials {
    width: 20%;
  }
}
