* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  background: #0f023d;
  color: #eee;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  padding: 8px 2rem;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border: none;
}
