* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
}

.App {
  background-color: #151b54;
  color: aliceblue;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 8px 2rem;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border: none;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 10%;
  margin-bottom: 1rem;
}

.socials a {
  margin-left: 1rem;
}

.socials a:hover {
  color: #0f023d;
}

.socials a {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.socials a .twitter {
  color: #1da1f2;
}

.socials a .linkedin {
  color: #0a66c2;
}

.socials a .github {
  color: white;
}

.btn {
  background: #0f023d;
  color: #f7df1e;
  border: 1px solid #726f6f;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background: #f7df1e;
  color: #0f023d;
}
