* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  color: #eee;
}

.App {
  background-color: #0c0230;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 8px 2rem;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border: none;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 10%;
  margin-bottom: 1rem;
}

.socials a {
  color: #eee;
  font-size: 1.5rem;
}

.socials a:hover {
  color: #0f023d;
}

.btn {
  background: #0f023d;
  color: #f7df1e;
  border: 1px solid #eee;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: #f7df1e;
  color: #0f023d;
}
