.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  background: #0c0230;
  color: var(--color-text);
  box-shadow: 0 0 10px #0000001a;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #f7df1e;
  cursor: pointer;
}

.nav-items ul {
  display: flex;
}

.nav-items ul li {
  margin-left: 1.2rem;
  padding: 8px 2rem;
  font-size: 1.2rem;
}

.nav-items ul li a {
  color: #eee;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav-items ul li a:hover {
  color: #f7df1e;
}

.nav-items ul li .btn {
  color: #f7df1e;
}

.nav-items ul li .btn:hover {
  background: #f7df1e;
  color: #0c0230;
}

.btn-switchmode {
  margin-right: 1.2rem;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
