.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  position: sticky;
  /* background-color: #0c0230; */
  background-color: #151b54;

  opacity: 0.9;
  top: 0;
  z-index: 999;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #f7df1e;
  cursor: pointer;
}

.nav-items ul {
  display: flex;
}

.nav-items ul li {
  margin-left: 1.2rem;
  padding: 8px 2rem;
  font-size: 1.2rem;
}

.nav-items ul li a {
  color: #eee;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav-items ul li a:hover {
  color: #f7df1e;
}

.nav-items ul li .btn {
  color: #f7df1e;
}

.nav-items ul li .btn:hover {
  background: #f7df1e;
  color: #0c0230;
}

.btn-switchmode {
  margin-right: 1.2rem;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 768px) {
  .nav {
    margin: 0 auto;
    align-items: flex-start;
  }

  .nav-logo {
    display: none;
  }
  .nav-items ul {
    align-items: flex-start;
    width: 100%;
  }

  .nav-items ul li {
    margin-left: 2rem;

    padding: 8px 0;
    width: 100%;
    text-align: center;
  }

  .nav-items ul li .btn {
    width: 100%;
  }

  .resume {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .nav-items ul li {
    margin-left: 1rem;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-items ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .resume {
    margin-top: 1rem;
  }
}
